.email-address::before {
    content: "papp.zoltan";
}
.email-address::after {
    content: "infokristaly.hu";
}
.lang-icon {
    border-radius: 1em; width: 50%; padding-bottom: 0.4em;
}
@media only screen and (min-width: 768px) {
    .portfolio-align2 {
        padding-top: 4em;
    }
}
@media only screen and (min-width: 992px) {
    .portfolio-align2 {
        padding-top: 3em;
    }
}

@media only screen and (min-width: 1024px) {
    .portfolio-align2 {
        padding-top: 5em;
    }
}